<div class="card">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
        <h5 class="card-title">Dados da Inscrição</h5>
        <form action="/edition/{{ id }}" method="post">
            <div class="mb-3">
                <label for="data" class="form-label">Data:</label>
                <input type="text" class="form-control" id="data" name="data" value="{{data}}">
            </div>
            <div class="mb-3">
                <label for="temperaturaminima" class="form-label">Temperatura Minima:</label>
                <input type="text" class="form-control" id="temperaturaminima" name="temperaturaminima" value="{{temperaturaminima}}">
            </div>
            <div class="mb-3">
                <label for="temperaturamaxima" class="form-label">Temperatura Maxima:</label>
                <input type="text" class="form-control" id="temperaturamaxima" name="temperaturamaxima" value="{{temperaturamaxima}}">
            </div>
            <div class="mb-3">
                <label for="precipitacao" class="form-label">Precipitação:</label>
                <input type="text" class="form-control" id="precipitacao" name="precipitacao" value="{{precipitacao}}">
            </div>
            <a href="/list" class="btn btn-primary">Cancelar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
    </div>
    </form>
</div>
</div>